
.form {
    width: 600px;
    padding: 20px;
    margin: 20px;
}
.form-field {
    margin-bottom: 20px;
    position: relative;

}
.form-label {
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    background-color: #fff;
    color: #2a2a2a;
    transition: transform 250ms linear;
}

.form-input {
    width: 100%;
    margin: 0;
    padding: 10px 20px;
    font: inherit;
    border-radius: 3px;
    border: 1px solid #2a2a2a;
}
.form-input:focus + .form-label, 
.form-input:not(:placeholder-shown) + .form-label {
    transform: translateY(-50px);
}
.form-input:placeholder-shown {
    background-color: #fff;
}
/* должно быть инлайн свг */
.icon {
    position: absolute;
    top: 50%;
    left: 10px;

    transform: translateY(-50%);

    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: blue;

}
.form-input ~ .icon {
    background-color: pink;
}